{% extends "base/base-admin.html" %}

{% block content %}
<div id='wrap' style="margin-top:100px;" class="center">
    <h1>
        <p><i class="icon-exclamation-sign icon-3x"></i></p>
            Delete Train Path
    </h1>
    <p>
        Are you sure you want to Delete this Train Path:
        <ul>
            <li>Origin Point:<strong> {{ trainpath.origin_station }}</strong></li>
            <li>Destination Point:<strong> {{ trainpath.destination_station }}</strong></li>
            <li>Distance: <strong>{{ trainpath.distance }} KM</strong></li>
            <li>Cost: <strong>Php {{ trainpath.cost }}</strong></li>
            <li>Time: <strong>{{ trainpath.time }}</strong></li>
        </ul>
    </p>
    <form action="{% url 'delete_train_path' pk=trainpath.id %}" method="POST">
        {% csrf_token %}
        <button class="green large" type="submit">Delete</button>
        <a href="{% url 'train_path_home' %}" class="button red large">Cancel</a>
    </form>
</div>
{% endblock content %}
