{% extends "base/base-user.html" %}

{% block user_content %}
{% if form.non_field_errors %}
    <div class="alert-box alert">
        {{ form.non_field_errors|striptags }}
        <a href="#" class="close">&times;</a>
    </div>
{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div id="old_password" class="{% if form.old_password.errors %}error{% endif %}">
            <label for="{{ form.old_password.auto_id }}">{{ form.old_password.label }}:</label>
            {% if form.old_password.errors %}
                <span class="alert label">{{ form.old_password.errors|striptags }}</span>
            {% endif %}
            {{ form.old_password }}
        </div>

        <div id="new_password1" class="{% if form.new_password1.errors %}error{% endif %}">
            <label for="{{ form.new_password1.auto_id }}">{{ form.new_password1.label }}:</label>
            {% if form.new_password1.errors %}
                <span class="alert label">{{ form.new_password1.errors|striptags }}</span>
            {% endif %}
            {{ form.new_password1 }}
        </div>

        <div id="new_password2" class="{% if form.new_password2.errors %}error{% endif %}">
            <label for="{{ form.new_password2.auto_id }}">{{ form.new_password2.label }}:</label>
            {% if form.new_password2.errors %}
                <span class="alert label">{{ form.new_password2.errors|striptags }}</span>
            {% endif %}
            {{ form.new_password2 }}
        </div>

        <button type="Submit">Change Password</button>
        <a href="{% url 'user_panel' %}" class="button alert">Cancel</a>
    </form>
{% endblock user_content %}
