{% extends "base/base-user.html" %}

{% block user_content %}
<div id='wrap' style="margin-top:100px;" class="center">
    <h1>
        <p><i class="icon-exclamation-sign icon-3x"></i></p>
            Delete Route?
    </h1>
    <p>
        Are you sure you want to Delete this Route?:
        <ul>
            <li>Origin:<strong> {{ route.origin }}, {{ route.origin_city}}</strong></li>
            <li>Destination:<strong> {{ route.destination }}, {{ route.destination_city }}</strong></li>
            <li>Total Distance: <strong>{{ route.total_distance }} KM</strong></li>
            <li>Total Cost: <strong>Php {{ route.total_cost }}</strong></li>
            <li>Created BY: <strong>{{ route.created_by }}</strong></li>
            <li>Approved Status: <strong>{{ route.is_approved }}</strong></li>
            <li>Related Paths<br/>
                <ol>
                {% for x in route.path.all %}
                    <li>{{ x }}</li>
                {% endfor %}
                {% for z in route.train_path.all %}
                    <li>{{ z }}</li>
                {% endfor %}
                </ol>
            </li>
        </ul>
    </p>
    <form action="{% url 'delete_route' pk=route.id %}" method="POST">
        {% csrf_token %}
        <button class="green" type="submit">Delete</button>
        <input type=button value="Cancel" onClick="javascript:history.go(-1);" class="button red">
    </form>
</div>
{% endblock user_content %}
