{% extends "base/base-user.html" %}

{% block user_content %}
<center>
    <h1>
            Delete Route?
    </h1>
    <p>
        Are you sure you want to Delete this Route?:
        <ul>
            <li>Origin:<strong> {{ route.origin }}, {{ route.origin_city}}</strong></li>
            <li>Destination:<strong> {{ route.destination }}, {{ route.destination_city }}</strong></li>
            <li>Total Distance: <strong>{{ route.total_distance }} KM</strong></li>
            <li>Total Cost: <strong>Php {{ route.total_cost }}</strong></li>
            <li>Approved Status:
                <strong>
                    {% if route.is_approved %}
                        Approved
                    {% else %}
                        Pending
                    {% endif %}
                </strong>
            </li>
            <li>Related Paths<br/>
                <ol>
                {% for x in route.path.all %}
                    <li>{{ x }}</li>
                {% endfor %}
                {% for z in route.train_path.all %}
                    <li>{{ z }}</li>
                {% endfor %}
                </ol>
            </li>
        </ul>
    </p>
    <form action="{% url 'public_delete_route' pk=route.id %}" method="POST">
        {% csrf_token %}
        <button class="button" typbutton="submit">Delete</button>
        <a href="{% url 'public_route_home' %}" class="button">Cancel</a>
    </form>
</center>
{% endblock user_content %}
