{% extends "base/base-user.html" %}

{% block user_content %}
<div class="row panel">
        <table>
        <thead>
            <tr>
                <th>Mode</th>
                <th>Origin Point</th>
                <th>Destination Point</th>
                <th>Distance</th>
                <th>Cost</th>
                <th>Time</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
                {% for p in path %}
                <tr>
                    <td>{{ p.mode }}</td>
                    <td>{{ p.origin_point|title }}</td>
                    <td>{{ p.destination_point|title }}</td>
                    <td>{{ p.distance }} KM</td>
                    <td>Php {{ p.cost }}</td>
                    <td>{{ p.time|time:"H:i:s" }}</td>
                    <td><a href="{% url 'public_edit_path' pk=p.id %}">Edit</a></td>
                    <td><a href="{% url 'public_delete_path' pk=p.id %}">Delete</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="add_button">
            <a href="{% url 'public_add_path' %}" class="tiny button">Add Path</a>
        </span>
        <span style="float:right;">
                <ul class="pagination">
                    {% if path.has_previous %}
                    <li class="arrow unavailable">
                        <a href="?page={{ path.previous_page_number }}">&laquo;</a>
                    </li>
                    {% endif %}
                    <span class="current">
                        <li>
                            Page {{ path.number }} of {{ path.paginator.num_pages }}
                        </li>
                    </span>
                    {% if path.has_next %}
                    <li class="arrow">
                        <a href="?page={{ path.next_page_number }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
        </span>
    </div>

</div>
{% endblock user_content %}
