{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=false;" />
        <title>
            iCommute
            {% if title %}
                &middot; {{ title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />

        <script src="{% static 'admin/js/OpenLayers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    </head>

    <body>
        {% include "includes/main-nav.html" %}
        <div class="container">
            {% block content %}

            {% endblock content %}


        </div>

        <div class="footer">
                <center>© iCommute with the collaboration of U.P. - N.C.T.S.</center><br>
                <a href="/">Home</a> |&nbsp;
                <a href="#">Request a Route</a> |&nbsp;
                <a href="#">About Us</a>
        </div>

        </div>
        {% include "includes/main-footer.html" %}
    <script>
        document.write('<script src=' +
            ('__proto__' in {} ? '{% static "foundation/js/vendor/zepto" %}' : '{% static "foundation/js/vendor/jquery" %}') +
            '.js><\/script>')
    </script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
