{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=false;" />
        <title>
            iCommute
            {% if title %}
                &middot; {{ title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <script src="{% static 'admin/js/OpenLayers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    </head>

    <body>
        {% include "includes/main-nav.html" %}
        <div class="container">
            {% block content %}

            {% endblock content %}
            <div id="myModal" class="reveal-modal small">
                <h2>Search Route</h2>
                    <form action="{% url 'search_route' %}" method="get">
                        {% csrf_token %}
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="origin" class="inline">Origin</label>
                            </div>
                            <div class="small-10 columns">
                                <input type="text" name="origin" id="origin" placeholder="Origin">
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="destination" class="inline">Destination</label>
                            </div>
                            <div class="small-10 columns">
                                <input type="text" name="destination" id="destination" placeholder="Destination">
                            </div>
                        <button class="button expand" id="search-button">Search for Route</button>
                        </div>


                    </form>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        {% include "includes/main-footer.html" %}
    <script>
        document.write('<script src=' +
            ('__proto__' in {} ? '{% static "foundation/js/vendor/zepto" %}' : '{% static "foundation/js/vendor/jquery" %}') +
            '.js><\/script>')
    </script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
