{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
          <link rel="shortcut icon" href="http://www.favicongenerator.com/favicon2/iCommute-20130715-favicon.ico">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>
            iCommute|Administration Site
            {% if title %}
                 &middot; {{ title }}
            {% endif %}
        </title>

        <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'admin/js/kickstart.js' %}"></script>
        <link rel="stylesheet" href="{% static 'admin/css/kickstart.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}" media="all" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <script src="{% static 'admin/js/OpenLayers.js' %}"></script>
    </head>

    <body>
        {% include "includes/admin-nav.html" %}
        <div class="grid flex">
            {% include "includes/messages.html" %}
            {% block content %}

            {% endblock content %}
        </div>
        {% include "includes/admin-footer.html" %}
    </body>

</html>
