{% extends "base/base.html" %}

{% block content %}
    <script>
        $(document).ready(function(){

        });
    </script>
    <div class="row">
        <h1><a href="{% url 'user_panel' %}">{{ user.username }}</a><small>({{ user.email }})</small></h1>
        <hr>
        <div class="small-3 columns panel">
            {{ report_form.content }}
            <ul class="side-nav">
                <li><a href="#">Route</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'path_home' %}">Path</a></li>
                <li class="divider"></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="small-9 columns">
            {% block user_content %}

            {% endblock user_content %}
        </div>

    </div>
{% endblock content %}
