{% extends "base/base.html" %}

{% block content %}
<script>
    $(document).ready(function(){
        function refresh(){
            $.ajax({
                url: "{% url 'user_panel' %}"
            });
        }
    });
</script>
<div class="row">
    <h1>Road Status</h1>
        <div class="small-12 columns panel">
        <h4>{{ user.username }}</h4>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Submit" class="button expand success radius" id="content_button">
        </form>
    </div>
</div>
<div class="row">
  <div class="small-12 columns" id="reportPanel">
    <h2>Latest Reports</h2>
    <hr>
    {% for post in posts %}
        <div class="reportWrapper">
            <span class="name">{{ post.user.username }}</span>
            <span class="time">{{ post.created|timesince }}</span>
            {{ post.user.first_name }} {{ post.user.last_name }}
            <p class="content">
                {{ post.content }}
            </p>
        </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}
