{% extends "base/base.html" %}

{% block content %}
<script>
    $(document).ready(function(){
        function refresh(){
            $.ajax({
                url: "{% url 'user_panel' %}"
            });
        }
    });
</script>
<div class="row">
    <div class="small-3 columns panel">
        <h4>{{ user.username }}</h4>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Submit" class="button expand success radius" id="content_button">
        </form>
    </div>
  <div class="small-9 columns">
    <h1>Road Status</h1>
    {% for post in posts %}
        <div class="reports">
            <span class="username">{{ post.user.username }}</span>
            <span class="time"><small>{{ post.created|timesince }}</small></span>
            {{ post.user.first_name }} {{ post.user.last_name }}
            <p>
                {{ post.content }}
            </p>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
