{% extends 'base/base-mobile.html' %}

{% block content %}


<div class="container">
<div class="row">
	<div class="twelve columns">
		<ul class="eleven columns">
			<div class="four columns image rounded">
     			 <img src="/static/img/iCommute.png">
    		</div>
            <h3>About iCommute</h3> 
            <p align="justify">
                
                iCommute: A Mobile Commuter's Map is a Project developed by the students
                of FEU East-Asia College. The purpose of this Application is to aide the
                commuters in the event of the unfamiliar with the place and does not know
                how to reach the destination. The Application provide a route displaying to
                the map on how to go to their destination and it will display the what mode
                of transportation will be use and the estimated time and cost of each travel.
            </p>
            <center>
            	<div class="pretty">
            	<div class="medium secondary btn"><a href="login/">Login</a></div>
            	<div class="medium secondary btn"><a href="#">Sign Up</a></div>
            	</div>

            </center>
		</ul>
		</form>	

		</ul>

	</div>
</div>
</div>

{% endblock content %}