{% extends 'base/base-mobile-user.html' %}

{% block content %}
    <div class="row container">
        <div class="three columns">
            <h3>{{ request.user.username }}</h3>
            <hr>
            <form action="{% url 'new_report' %}" method="post">
                {% csrf_token %}
                <div class="field">
                    {{ form.content }}
                </div>
                <div class="row">
                    <div class="six columns"></div>
                    <div class="six columns">
                        <div class="medium secondary btn">
                            <input type="Submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="push_one eight columns">
            <h2>Road Status</h2>
            <hr>
            {% for post in posts %}
                <div class="reportWrapper">
                    <span class="name">{{ post.user.username }}</span>
                    <span class="time">{{ post.created|timesince }}</span>
                    {{ post.user.first_name }} {{ post.user.last_name }}
                    <p class="content">
                        {{ post.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
