{% extends "base/base-mobile-user.html" %}

{% block content %}
<script type="text/javascript">
    function initialize(){
        var options = {
            componentRestrictions: {country: "ph"

                                }
        };
        var origin = document.getElementById('search-origin');
        var autocomplete = new google.maps.places.Autocomplete(origin, options);
        var destination = document.getElementById('search-destination');
        var autocomplete = new google.maps.places.Autocomplete(destination, options);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style type="text/css">
    .pac-container:after{ content:none !important; }
</style>

<div class="container">
{% if messages %}
    <section id="messages">
        {% for message in messages %}
            <div class="{% if message.tags == 'SUCCESS' %}success {% else %} danger {% endif %} alert">
                {{ message }}
            </div>
        {% endfor %}
    </section>
{% endif %}
    <h2>Request for a Route</h2>
    <hr>
        <form action="{% url 'm_new_requests' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="four columns">
                    {{ form.origin.label }}
                </div>
                <div class="eight columns field">
                    {{ form.origin }}
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    {{ form.destination.label }}
                </div>
                <div class="eight columns field">
                    {{ form.destination }}
                </div>
        </div>
        <div class="row">
            <div class="primary btn medium centered ten columns">
                <input type="submit" value="Submit">
            </div>
        </div>
        </form>
</div>
{% endblock content %}
