<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">iCommute</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Request Route</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <ul class="right">
                {% if user.is_authenticated %}
                    <li class="has-dropdown">
                        <a href="{% url 'auth_logout' %}">{{ user.username }}</a>
                        <ul class="dropdown">
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}

        </ul>
    </section>
</nav>
