<div class="fixed sticky">
<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">iCommute</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="{% url 'user_panel' %}">Home</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'public_route_home' %}">Routes</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'new_requests' %}">Request Routes</a></li>
            <li class="divider"></li>
            <li><a href="#" data-reveal-id="myModal">Search Route</a></li>
            <li class="divider"></li>
        </ul>
        <ul class="right">
            <li class="divider"></li>
                {% if user.is_authenticated %}
                    <li class="has-dropdown">
                        <a href="{% url 'user_panel' %}">{{ user.username }}</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}

        </ul>
    </section>
</nav>
</div>
