<div id="myModal" class="reveal-modal small">
<h2>Request for a Route</h2>
    <form action="{% url 'search_route' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="small-2 columns">
                <label for="origin" class="inline">Origin</label>
            </div>
            <div class="small-9 columns">
                <input type="text" name="origin" id="origin" placeholder="Origin">
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns">
                <label for="destination" class="inline">Destination</label>
            </div>
            <div class="small-9 columns">
                <input type="text" name="destination" id="destination" placeholder="Destination">
            </div>
        </div>

        <button class="button expand" id="search-button">Request for a for Route</button>
    </form>
<a class="close-reveal-modal">&#215;</a>
</div>
