{% extends "base/base-admin.html" %}

{% block content %}
    {% if route %}
        <div id="wrap">
            <h1 class="center"><i class="icon-cogs"></i> Route Management</h1>
            <table class="stripped tight sortable" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Origin City</th>
                        <th>Destination</th>
                        <th>Destination City</th>
                        <th>Total Distance</th>
                        <th>Total Cost</th>
                        <th>Created by</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Approved</th>
                        <th><i class="icon-edit"></i></th>
                        <th><i class="icon-trash"></i></th>
                    </tr>
                </thead>
                <tbody>
                        {% for p in route %}
                        <tr>
                            <td>{{ p.origin|title }}</td>
                            <td>{{ p.origin_city|title }}</td>
                            <td>{{ p.destination|title }}</td>
                            <td>{{ p.destination_city|title }}</td>
                            <td>{{ p.total_distance }} KM</td>
                            <td>Php {{ p.total_cost }}</td>
                            <td>{{ p.created_by }}</td>
                            <td>{{ p.created }}</td>
                            <td>{{ p.edited }}</td>
                            <td>{{ p.is_approved }}</td>
                            <td><a href="{% url 'edit_route' pk=p.id %}"><i class="icon-edit"></i></a></td>
                            <td><a href="{% url 'delete_route' pk=p.id %}"><i class="icon-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="add_button">
                    <a href="{% url 'add_route' %}"><i class="icon-plus-sign tooltip-right icon-large" title="Add route"></i></a>
                    </span>
                    <span class="step-links" style="float:right;">
                        {% if route.has_previous %}
                        <a href="?page={{ route.previous_page_number }}"><i class="icon-circle-arrow-left icon-large"></i></a>
                        {% endif %}
                        <span class="current">
                            Page {{ route.number }} of {{ route.paginator.num_pages }}
                        </span>
                        {% if route.has_next %}
                            <a href="?page={{ route.next_page_number }}"><i class="icon-circle-arrow-right icon-large"></i></a>
                        {% endif %}
                </span>
    </div>
        </div>
    {% else %}
        <div class="col_12" style="margin-top:100px;">
            <h1 class="center">
                <p><i class=" icon-warning-sign icon-4x"></i></p>
                There are no Routes <br>
                <a href="{% url 'add_route' %}">Add some here!</a>
            </h1>
        </div>
    {% endif %}
{% endblock content %}
