{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=false;" />
        <title>
            iCommute
            {% if title %}
                &middot; {{ title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <script src="{% static 'admin/js/OpenLayers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    </head>

    <body>
    <div class="container">
        <div class="row panel">
                <h1>Show Me the way!</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>
                    <center>
                        <a href="{% url 'registration_register' %}" class="button success">Sign up now!</a>
                        <br>
                        Already have an Account?
                        <br>
                        <br>
                        <a href="{% url 'auth_login' %}" class="button">Login</a>
                </center>
                </p>

        </div>
        <div class="row">
            <div class="small-3 small-offset-1 columns panel">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nam, hic possimus dolorem consequuntur voluptate voluptatibus ullam fugit excepturi quod recusandae neque consectetur a vero distinctio laudantium perspiciatis rem fugiat!
            </div>
            <div class="small-3 small-offset-1 columns panel">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nam, hic possimus dolorem consequuntur voluptate voluptatibus ullam fugit excepturi quod recusandae neque consectetur a vero distinctio laudantium perspiciatis rem fugiat!
            </div>
            <div class="small-3 small-offset-1 columns panel">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nam, hic possimus dolorem consequuntur voluptate voluptatibus ullam fugit excepturi quod recusandae neque consectetur a vero distinctio laudantium perspiciatis rem fugiat!
            </div>
        </div>
       </div>
            {% include "includes/main-footer.html" %}
    <script>
        document.write('<script src=' +
            ('__proto__' in {} ? '{% static "foundation/js/vendor/zepto" %}' : '{% static "foundation/js/vendor/jquery" %}') +
            '.js><\/script>')
    </script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
