{% extends "base/base-user.html" %}

{% block user_content %}
<center>
    <h1>
            Delete Path
    </h1>
    <p>
        Are you sure you want to Delete this path:
        <ul>
            <li>Mode: <strong>{{ path.mode }}</strong></li>
            <li>Origin Point:<strong> {{ path.origin_point }}</strong></li>
            <li>Destination Point:<strong> {{ path.destination_point }}</strong></li>
            <li>Distance: <strong>{{ path.distance }} KM</strong></li>
            <li>Cost: <strong>Php {{ path.cost }}</strong></li>
            <li>Time: <strong>{{ path.time }}</strong></li>
        </ul>
    </p>
    <form action="{% url 'public_delete_path' pk=path.id %}" method="POST">
        {% csrf_token %}
        <button class="button" type="submit">Delete</button>
        <a href="{% url 'public_path_home' %}" class="button">Cancel</a>
    </form>
</center>
{% endblock user_content %}
