{% extends "base/base.html" %}

{% block content %}
{% if messages %}
    <section id="messages">
        {% for message in messages %}
            <div data-alert class="alert-box {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}<a href="#" class="close">&times;</a></div>
        {% endfor %}
    </section>
{% endif %}

    <form action="{% url 'new_requests' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button expand">
    </form>
{% endblock content %}
