{% extends "base/base.html" %}

{% block content %}
<script type="text/javascript">
    function initialize(){
        var options = {
            componentRestrictions: {country: "ph"}
        };
        var origin = document.getElementById('search-origin');
        var autocomplete = new google.maps.places.Autocomplete(origin, options);
        var destination = document.getElementById('search-destination');
        var autocomplete = new google.maps.places.Autocomplete(destination, options);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% if messages %}
    <section id="messages">
        {% for message in messages %}
            <div data-alert class="alert-box {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}<a href="#" class="close">&times;</a></div>
        {% endfor %}
    </section>
{% endif %}

    <form action="{% url 'new_requests' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button expand">
    </form>
{% endblock content %}
